main.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "773e65bf-050f-4aa6-9e7e-325d29e32d27",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -496,
        400
      ],
      "webhookId": "59be8dde-6a78-4be5-8630-ff8a86d334dc"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -240,
        224
      ],
      "id": "43b95d5d-1b6c-49bd-8724-4316e9071089",
      "name": "Respond OK"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body?.entry?.[0]?.changes?.[0]?.value?.messages) return [];\n\nconst value   = body.entry[0].changes[0].value;\nconst msg     = value.messages[0];\nconst phone   = msg.from;\nconst phoneId = value.metadata.phone_number_id;\nconst profile = value.contacts?.[0]?.profile?.name || 'Patient';\nconst msgType = msg.type;\nconst msgId   = msg.id;\nconst timestamp = msg.timestamp;\n\nconst data = $getWorkflowStaticData('global');\nif (!data.processed) data.processed = {};\nconst oneHourAgo = Date.now() - 3600000;\nObject.keys(data.processed).filter(k => data.processed[k] < oneHourAgo).forEach(k => delete data.processed[k]);\nif (data.processed[msgId]) return [];\ndata.processed[msgId] = Date.now();\n\nif (!data.rateLimit) data.rateLimit = {};\nconst now = Date.now();\nif (now - (data.rateLimit[phone] || 0) < 1500) return [];\ndata.rateLimit[phone] = now;\n\nlet userText = '';\nlet buttonId = null;\nlet rawInteractiveType = null;\n\nswitch (msgType) {\n  case 'text':\n    userText = msg.text.body.trim();\n    break;\n  case 'interactive': {\n    rawInteractiveType = msg.interactive.type;\n    if (rawInteractiveType === 'button_reply') {\n      buttonId = msg.interactive.button_reply.id;\n      userText = msg.interactive.button_reply.title;\n    } else if (rawInteractiveType === 'list_reply') {\n      buttonId = msg.interactive.list_reply.id;\n      userText = msg.interactive.list_reply.title;\n    }\n    break;\n  }\n  case 'location': {\n    const loc = msg.location;\n    userText = `LOCATION: lat=${loc.latitude}, lng=${loc.longitude}`;\n    if (loc.name) userText += `, name=${loc.name}`;\n    break;\n  }\n  default:\n    userText = `[${msgType} message received]`;\n}\n\nif (!userText) return [];\nreturn [{ json: { phone, phoneId, profile, msgType, rawInteractiveType, userText, buttonId, msgId, timestamp } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        400
      ],
      "id": "40b48443-1b1f-4498-a945-362f4df48c17",
      "name": "Ingest Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/conversation_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, role: 'user', content: $json.userText }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        400
      ],
      "id": "b9345a67-492b-4feb-9856-5bafcd4f6209",
      "name": "Save User Message",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/session_state?phone=eq.{{ $('Ingest Message').first().json.phone }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        400
      ],
      "id": "e785b248-8ad4-43b9-848b-d2182a5f5ebc",
      "name": "Load Session",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/conversation_messages?phone=eq.{{ $('Ingest Message').first().json.phone }}&order=created_at.desc&limit=12",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        400
      ],
      "id": "29e9b160-d459-44f9-9705-dec789c249aa",
      "name": "Load Convo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const ing = $('Ingest Message').first().json;\nconst { phone, phoneId, profile, userText, buttonId, msgType, rawInteractiveType } = ing;\n\nconst sessionItems = $('Load Session').all().map(i => i.json);\nconst session = (sessionItems.length > 0 && sessionItems[0].phone)\n  ? sessionItems[0]\n  : { booking_draft: {}, last_intent: 'none', message_count: 0 };\n\nconst convItems = $('Load Convo').all().map(i => i.json);\nconst history = convItems.filter(h => h && h.role && h.content).reverse().slice(-12);\nconst histText = history.length\n  ? history.map(h => `${h.role === 'assistant' ? 'LyncDoc' : 'Patient'}: ${h.content}`).join('\\n')\n  : '(new conversation)';\n\nlet draftObj = {};\ntry {\n  const bd = session.booking_draft;\n  draftObj = typeof bd === 'string' ? JSON.parse(bd) : (bd && typeof bd === 'object' ? bd : {});\n} catch(_) {}\nconst draft = Object.keys(draftObj).length ? JSON.stringify(draftObj, null, 2) : '{}';\n\nconst now = new Date();\nconst today = now.toISOString().split('T')[0];\nconst time = now.toLocaleTimeString('en-IN', { hour: '2-digit', minute: '2-digit', hour12: true, timeZone: 'Asia/Kolkata' });\nconst dayName = now.toLocaleDateString('en-IN', { weekday: 'long', timeZone: 'Asia/Kolkata' });\n\n// Resolve today/tomorrow to actual dates in IST\nconst nowIST = new Date(new Date().toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }));\nfunction isoDate(d) { return d.getFullYear() + '-' + String(d.getMonth()+1).padStart(2,'0') + '-' + String(d.getDate()).padStart(2,'0'); }\nconst todayDate = isoDate(nowIST);\nconst tomorrowDate = (() => { const t = new Date(nowIST); t.setDate(t.getDate()+1); return isoDate(t); })();\n\nlet messageContext = '';\nif (buttonId) {\n  if (buttonId === 'btn_confirm_booking') {\n    messageContext = 'ACTION: PATIENT CONFIRMED BOOKING. Call create_booking_request tool NOW using these exact values from the draft above: patient_name, patient_age, patient_gender, specialty_id, symptoms, pincode, preferred_date, preferred_time_slot.';\n  } else if (buttonId === 'btn_cancel_booking') {\n    messageContext = 'ACTION: Patient cancelled booking flow. Do NOT create booking. Respond politely and clear draft.';\n  } else if (buttonId === 'btn_today') {\n    messageContext = `ACTION: Patient chose Today. Save to draft: preferred_date = ${todayDate}`;\n  } else if (buttonId === 'btn_tomorrow') {\n    messageContext = `ACTION: Patient chose Tomorrow. Save to draft: preferred_date = ${tomorrowDate}`;\n  } else if (buttonId === 'btn_pick_date') {\n    messageContext = 'ACTION: Patient wants to pick a specific date. Ask them to type a date (e.g. \"15 April\" or \"next Monday\"). Today is ' + todayDate + '.';\n  } else if (buttonId === 'btn_morning') {\n    messageContext = 'ACTION: Patient chose Morning. Save to draft: preferred_time_slot = Morning';\n  } else if (buttonId === 'btn_afternoon') {\n    messageContext = 'ACTION: Patient chose Afternoon. Save to draft: preferred_time_slot = Afternoon';\n  } else if (buttonId === 'btn_evening') {\n    messageContext = 'ACTION: Patient chose Evening. Save to draft: preferred_time_slot = Evening';\n  } else if (buttonId === 'btn_male') {\n    messageContext = 'ACTION: Patient chose Male. Save to draft: patient_gender = Male';\n  } else if (buttonId === 'btn_female') {\n    messageContext = 'ACTION: Patient chose Female. Save to draft: patient_gender = Female';\n  } else if (buttonId === 'btn_other_gender') {\n    messageContext = 'ACTION: Patient chose Other gender. Save to draft: patient_gender = Other';\n  } else if (buttonId === 'btn_book') {\n    messageContext = 'ACTION: Patient wants to book a doctor. Start the booking flow from step 1 (symptoms).';\n  } else if (buttonId === 'btn_bookings') {\n    messageContext = 'ACTION: Patient wants to see their bookings. Call get_bookings tool.';\n  } else if (buttonId === 'btn_help') {\n    messageContext = 'ACTION: Patient wants to talk to a support agent. Set intent=support.';\n  } else if (buttonId.startsWith('cancel_')) {\n    messageContext = `ACTION: Cancel booking_ref=${buttonId.replace('cancel_', '')}`;\n  } else if (buttonId.startsWith('view_')) {\n    messageContext = `ACTION: Show details for booking_ref=${buttonId.replace('view_', '')}`;\n  } else {\n    messageContext = `BUTTON: ${buttonId}`;\n  }\n}\n\nconst lastAIMsg = history.filter(h => h.role === 'assistant').slice(-1)[0];\nlet lastQuestion = '';\nif (lastAIMsg && !buttonId) {\n  const m = lastAIMsg.content.toLowerCase();\n  if (m.includes('full name') || m.includes(\"patient's name\")) lastQuestion = 'patient_name';\n  else if (m.includes('how old') || m.includes('age')) lastQuestion = 'patient_age';\n  else if (m.includes('gender')) lastQuestion = 'patient_gender';\n  else if (m.includes('symptom') || m.includes('reason') || m.includes('what brings') || m.includes('how can i help')) lastQuestion = 'symptoms';\n  else if (m.includes('pincode') || m.includes('pin code')) lastQuestion = 'pincode';\n  else if (m.includes('when would') || m.includes('preferred date') || m.includes('like the visit')) lastQuestion = 'preferred_date';\n  else if (m.includes('time works') || (m.includes('morning') && m.includes('afternoon'))) lastQuestion = 'preferred_time';\n}\n\nconst missingFields = [];\nif (!draftObj.specialty_id) missingFields.push('specialty_id');\nif (!draftObj.pincode) missingFields.push('pincode');\nif (!draftObj.preferred_date) missingFields.push('preferred_date');\nif (!draftObj.preferred_time_slot) missingFields.push('preferred_time_slot');\nif (!draftObj.patient_name) missingFields.push('patient_name');\nif (!draftObj.patient_age) missingFields.push('patient_age');\nif (!draftObj.patient_gender) missingFields.push('patient_gender');\n\nlet answerContext = '';\nif (lastQuestion && msgType === 'text' && !buttonId) {\n  answerContext = `ANSWER: Patient answered \"${userText}\" for ${lastQuestion}. Save to draft_update and proceed.`;\n}\n\nconst prompt = [\n  '=== PATIENT ===' ,\n  `PHONE: ${phone} | NAME: ${profile}`,\n  `DATE: ${today} (${dayName}) | TIME: ${time} IST`,\n  `LAST_INTENT: ${session.last_intent || 'none'} | MSG_COUNT: ${session.message_count || 0}`,\n  '',\n  '=== BOOKING DRAFT ===',\n  draft,\n  '',\n  missingFields.length ? `NEXT_MISSING: ${missingFields[0]}` : 'ALL FIELDS COLLECTED',\n  '',\n  '=== HISTORY ===',\n  histText,\n  '',\n  '=== NOW ===',\n  `Patient: \"${userText}\"`,\n  messageContext,\n  answerContext\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { phone, phoneId, profile, userText, buttonId, msgType, draftObj, prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        400
      ],
      "id": "d459b0a4-82ff-4e10-a7f0-b9ba227d7491",
      "name": "Context Builder"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Return ONLY valid JSON. No markdown, no code fences. Start with { end with }.\n\nYou are LyncDoc — a friendly WhatsApp assistant for doctor home visits in Bangalore, India.\n\n=== HOW IT WORKS ===\nPatients do NOT pick a doctor. They describe symptoms, give location + date + time preference + personal info. We create a booking, broadcast to verified nearby doctors, and the first to accept wins — like Uber for doctors. Patient gets a WhatsApp confirmation when doctor accepts.\n\n=== RULES ===\n- Never invent data. Use tools for real info.\n- Never re-ask fields already in BOOKING DRAFT.\n- Buttons for 2-3 fixed choices. List for 4+ options.\n- Emergency (chest pain, stroke, seizure, severe bleeding, unconscious): immediately say \"Please call *108* (ambulance) or *112* (emergency) right now!\" then set intent=emergency.\n- Human agent request (\"talk to someone\", \"call me\"): set intent=support, tell them team will contact shortly.\n- Booking for family member: totally fine — collect that person's name, age, gender.\n\n=== WHATSAPP LIMITS ===\nButton title: max 20 chars. List row title: max 24 chars. List row desc: max 72 chars. Body: max 1024 chars. Header: max 60 chars.\n\n=== BOOKING FLOW (9 steps) ===\nSkip any step where BOOKING DRAFT already has the value.\n\n1. GREET & SYMPTOMS\n   Ask: \"Hi [name]! How can I help you today? Please describe what's happening.\"\n   Detect specialty from keywords. Save: {specialty_id, symptoms}\n   (If symptoms vague, ask 1 follow-up question then move on.)\n\n2. PINCODE\n   Ask: \"What's your pincode? We'll find doctors near you.\"\n   Save: {pincode} — must be 6 digits.\n\n3. DATE\n   Show 3 buttons:\n   {id:btn_today, title:\"Today\"}\n   {id:btn_tomorrow, title:\"Tomorrow\"}\n   {id:btn_pick_date, title:\"Pick a Date\"}\n   If btn_pick_date: ask \"Which date? (e.g. 20 April or next Monday)\" then convert to YYYY-MM-DD.\n   Save: {preferred_date} as YYYY-MM-DD.\n\n4. TIME SLOT\n   Show 3 buttons:\n   {id:btn_morning, title:\"Morning\"}\n   {id:btn_afternoon, title:\"Afternoon\"}\n   {id:btn_evening, title:\"Evening\"}\n   Save: {preferred_time_slot} as exactly Morning, Afternoon, or Evening.\n\n5. PATIENT NAME\n   Ask: \"Who is this appointment for? (Full name)\"\n   Accept family member names. Save: {patient_name}\n\n6. AGE\n   Ask: \"How old are they?\" Save: {patient_age}\n\n7. GENDER\n   Show 3 buttons:\n   {id:btn_male, title:\"Male\"}\n   {id:btn_female, title:\"Female\"}\n   {id:btn_other_gender, title:\"Other\"}\n   Save: {patient_gender} as exactly Male, Female, or Other.\n\n8. SUMMARY\n   Show all details clearly, then 2 buttons:\n   {id:btn_confirm_booking, title:\"Confirm Booking\"}\n   {id:btn_cancel_booking, title:\"Cancel\"}\n   Example summary:\n   \"Please confirm your booking:\\n\\n🏥 *[Specialty]*\\n📝 [Symptoms]\\n📍 Pincode: [pincode]\\n📅 [Date] · [Time slot]\\n👤 [Name], [Age], [Gender]\\n💰 Fee: ₹800 (all inclusive)\"\n\n9. ON CONFIRM (ACTION: PATIENT CONFIRMED BOOKING in prompt)\n   Call create_booking_request tool with ALL values from BOOKING DRAFT.\n   After tool returns booking_ref, reply:\n   \"✅ *Booking [REF] placed!*\\n\\nDoctors near you are being notified. You'll receive a WhatsApp message here as soon as a doctor accepts (usually within minutes).\\n\\n💰 Fee: ₹800 (all inclusive)\\nThe doctor will call before visiting.\\n\\nType *my bookings* anytime to check status.\"\n   Set intent=booking_created, draft_update=null.\n\n=== ON CANCEL BUTTON (btn_cancel_booking) ===\nRespond: \"No worries! Type *hi* anytime to start a new booking. 😊\"\nSet intent=greeting, draft_update=null.\n\n=== TOOL PARAMETERS for create_booking_request ===\n- patient_name: full name string from draft\n- patient_age: age number from draft\n- patient_gender: exactly Male or Female or Other\n- specialty_id: e.g. spec_gp (from draft)\n- symptoms: text from draft (or empty string)\n- pincode: 6-digit string from draft\n- preferred_date: YYYY-MM-DD from draft\n- preferred_time_slot: exactly Morning, Afternoon, or Evening\n\n=== MY BOOKINGS ===\nCall get_bookings tool. Format each booking:\n- searching/pending → \"🔍 *[REF]* — Finding doctor…\"\n- confirmed/in_progress → \"✅ *[REF]* — Dr. [doctor_name]\"\n- completed → \"✓ *[REF]* — Completed\"\n- cancelled → \"✗ *[REF]* — Cancelled\"\n- expired → \"⏰ *[REF]* — Expired (no doctor available)\"\nInclude date and specialty. If 0 bookings: \"No bookings found.\"\nIf cancellable bookings exist (searching/pending/confirmed), offer: \"Reply with a booking ref to cancel.\"\n\n=== CANCEL BOOKING ===\n1. If patient gave ref directly, confirm once then call cancel_booking.\n2. Otherwise call get_bookings → show cancellable ones → ask which to cancel → confirm → call cancel_booking.\n3. After cancel: \"Booking *[REF]* has been cancelled.\" Set intent=cancel_confirmed.\n\n=== SPECIALTY IDs (detect from symptoms) ===\nspec_gp: fever cold cough headache general weakness infection\nspec_child: baby child kid infant toddler vaccination\nspec_skin: skin rash acne eczema itching allergy hair nail\nspec_women: pregnancy periods pcod pcos fertility menstruation\nspec_bone: fracture bone joint back pain knee shoulder arthritis\nspec_heart: heart bp chest pain palpitations ECG blood pressure\nspec_neuro: brain migraine seizure nerve numbness epilepsy\nspec_eye: eye vision glasses cataract\nspec_ent: ear nose throat sinus tonsil hearing\nspec_emergency: emergency trauma accident urgent critical injury\nspec_elder: elderly senior geriatric old age dementia\nspec_other: other specialist\n\n=== JSON FORMAT ===\n{\"message\":\"text\",\"component\":\"text|buttons|list\",\"buttons\":[{\"id\":\"x\",\"title\":\"max20\"}],\"list_button_label\":\"Select\",\"list_sections\":[{\"title\":\"max24\",\"rows\":[{\"id\":\"x\",\"title\":\"max24\",\"description\":\"max72\"}]}],\"intent\":\"book|cancel|my_bookings|greeting|emergency|support|unknown|booking_created|cancel_confirmed\",\"draft_update\":{\"field\":\"value\"}}\n\nRules for draft_update:\n- Set to null when not updating draft\n- Set to {} (empty object) to clear the entire draft\n- Only include fields being updated, not the full draft\n\n=== DEFAULT GREETING (for hi/hello/start/menu) ===\n{\"message\":\"Hi! 👋 Welcome to *LyncDoc*\\n\\nI can book a verified doctor for a home visit in Bangalore. How can I help?\",\"component\":\"buttons\",\"buttons\":[{\"id\":\"btn_book\",\"title\":\"Book a Doctor\"},{\"id\":\"btn_bookings\",\"title\":\"My Bookings\"},{\"id\":\"btn_help\",\"title\":\"Talk to Someone\"}],\"intent\":\"greeting\",\"draft_update\":null}",
          "maxIterations": 6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        400
      ],
      "id": "c7d250f3-3e74-43ad-996a-68f2b66644b1",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        704
      ],
      "id": "b79229aa-46bc-449f-bbf8-afd3998ca3d6",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "qr8XPWNOCtRMWmIR",
          "name": "Google Gemini(PaLM) Serveasie API Account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "get_specialties — Returns all medical specialties with IDs and symptom keywords. Call when user mentions symptoms.",
        "url": "=https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/specialties?is_active=eq.true&select=id,label,emoji&order=sort_order.asc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        704,
        784
      ],
      "id": "efd176f4-d792-40af-bcc0-4f8a0ceca0e3",
      "name": "get_specialties",
      "credentials": {
        "supabaseApi": {
          "id": "3YH2ieK8pl9hK7aT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "get_bookings — Fetches all bookings for this patient by phone. Returns all statuses. Use for My Bookings or to find a booking to cancel.",
        "url": "={{ 'https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/bookings?patient_phone=eq.%2B' + $('Ingest Message').first().json.phone + '&select=booking_ref,status,doctor_name,specialty_id,symptoms,preferred_date,preferred_time_slot,fee_amount,created_at&order=created_at.desc&limit=10' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        864,
        784
      ],
      "id": "17ed2c22-c071-430a-a425-eda048ddd33a",
      "name": "get_bookings",
      "credentials": {
        "supabaseApi": {
          "id": "3YH2ieK8pl9hK7aT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "create_booking_request — Creates a booking and broadcasts to matching doctors. Call ONLY after patient taps Confirm. Returns JSON with booking_ref.",
        "method": "POST",
        "url": "=https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/rpc/create_and_broadcast_booking",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  p_patient_name: $fromAI('patient_name', 'patient full name from draft'),\n  p_patient_phone: String($('Ingest Message').first().json.phone),\n  p_patient_age: Number($fromAI('patient_age', 'patient age number from draft')),\n  p_patient_gender: $fromAI('patient_gender', 'exactly Male or Female or Other'),\n  p_specialty_id: $fromAI('specialty_id', 'specialty id like spec_gp from draft'),\n  p_symptoms: $fromAI('symptoms', 'symptoms text from draft or empty string'),\n  p_pincode: $fromAI('pincode', '6 digit pincode from draft'),\n  p_preferred_date: $fromAI('preferred_date', 'date YYYY-MM-DD from draft'),\n  p_preferred_time_slot: $fromAI('preferred_time_slot', 'Morning or Afternoon or Evening from draft'),\n  p_booking_source: 'whatsapp'\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1024,
        784
      ],
      "id": "b5ec24b6-ac76-4efa-a159-694f26bfe1ba",
      "name": "create_booking_request",
      "credentials": {
        "supabaseApi": {
          "id": "3YH2ieK8pl9hK7aT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "cancel_booking — Cancels a booking by ref and phone. Works on searching/pending/confirmed.",
        "method": "PATCH",
        "url": "={{ 'https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/bookings?booking_ref=eq.' + $fromAI('booking_ref', 'booking reference like LYN100001') + '&patient_phone=eq.%2B' + $('Ingest Message').first().json.phone + '&status=in.(searching,pending,confirmed)' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  status: 'cancelled',\n  cancelled_at: new Date().toISOString(),\n  cancellation_reason: $fromAI('cancellation_reason', 'reason for cancellation')\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1184,
        784
      ],
      "id": "87bb90c2-58b3-41fb-8c02-667c654cfecc",
      "name": "cancel_booking",
      "credentials": {
        "supabaseApi": {
          "id": "3YH2ieK8pl9hK7aT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst phone    = $('Context Builder').first().json.phone;\nconst phoneId  = $('Context Builder').first().json.phoneId;\nconst profile  = $('Context Builder').first().json.profile;\nconst userText = $('Context Builder').first().json.userText;\nconst msgType  = $('Context Builder').first().json.msgType;\nconst draftObj = $('Context Builder').first().json.draftObj || {};\n\nlet ai = null;\n\ntry {\n  let clean = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  const s = clean.indexOf('{');\n  const e = clean.lastIndexOf('}');\n  if (s !== -1 && e !== -1 && e > s) ai = JSON.parse(clean.slice(s, e + 1));\n} catch (_) {}\n\nif (!ai) {\n  try {\n    let clean = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n    const s = clean.indexOf('{');\n    if (s !== -1) {\n      let partial = clean.slice(s);\n      let depth = 0, lastValid = -1;\n      for (let i = 0; i < partial.length; i++) {\n        if (partial[i] === '{') depth++;\n        if (partial[i] === '}') { depth--; if (depth === 0) lastValid = i; }\n      }\n      if (lastValid > 0) ai = JSON.parse(partial.slice(0, lastValid + 1));\n      else {\n        const m = partial.match(/\"message\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        if (m) ai = { message: m[1].replace(/\\\\n/g, '\\n'), component: 'text', intent: 'unknown', draft_update: null };\n      }\n    }\n  } catch (_2) {}\n}\n\nif (ai && (!ai.message || typeof ai.message !== 'string' || !ai.message.trim())) ai = null;\n\nif (ai) {\n  ai.message = String(ai.message).slice(0, 1024);\n  if (!['text','buttons','list'].includes(ai.component)) ai.component = 'text';\n  if (ai.component === 'buttons') {\n    if (!Array.isArray(ai.buttons) || !ai.buttons.length) ai.component = 'text';\n    else ai.buttons = ai.buttons.slice(0, 3).map(b => ({ id: String(b.id||'btn').slice(0,256), title: String(b.title||'').slice(0,20) }));\n  }\n  if (ai.component === 'list') {\n    if (!Array.isArray(ai.list_sections) || !ai.list_sections.length) ai.component = 'text';\n    else {\n      ai.list_sections = ai.list_sections.map(sec => ({\n        title: String(sec.title||'Options').slice(0,24),\n        rows: (sec.rows||[]).filter(r=>r?.id&&r?.title).slice(0,10).map(r=>({\n          id:String(r.id).slice(0,200), title:String(r.title).slice(0,24),\n          ...(r.description?{description:String(r.description).slice(0,72)}:{})\n        }))\n      })).filter(s=>s.rows.length);\n      if (!ai.list_sections.length) ai.component = 'text';\n    }\n  }\n  const vi = ['book','cancel','my_bookings','greeting','emergency','support','unknown','booking_created','cancel_confirmed'];\n  if (!vi.includes(ai.intent)) ai.intent = 'unknown';\n  if (ai.draft_update !== null && typeof ai.draft_update !== 'object') ai.draft_update = null;\n}\n\nif (!ai) {\n  ai = { message: \"Something went wrong. Please send *hi* to start again.\", component: 'text', intent: 'unknown', draft_update: null };\n}\n\nreturn [{ json: { phone, phoneId, profile, userText, msgType, ai } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        400
      ],
      "id": "6218a6b8-b0b2-4e87-bedf-07fad49c013b",
      "name": "Parse Response",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/conversation_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, role: 'assistant', content: $json.ai.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        400
      ],
      "id": "864ca618-8d8b-4eb6-927c-7274c01aa8c1",
      "name": "Save AI Message",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const phone   = $('Ingest Message').first().json.phone;\nconst profile = $('Ingest Message').first().json.profile;\nconst ai      = $('Parse Response').first().json.ai;\n\nconst sessionItems = $('Load Session').all().map(i => i.json);\nconst existing = (sessionItems.length > 0 && sessionItems[0].phone)\n  ? sessionItems[0] : { booking_draft: {}, message_count: 0 };\n\nlet existingDraft = {};\ntry {\n  const bd = existing.booking_draft;\n  existingDraft = typeof bd === 'string' ? JSON.parse(bd) : (bd && typeof bd === 'object' ? bd : {});\n} catch(_) {}\n\nlet newDraft = { ...existingDraft };\nif (ai.draft_update && typeof ai.draft_update === 'object' && !Array.isArray(ai.draft_update)) {\n  newDraft = { ...existingDraft, ...ai.draft_update };\n  Object.keys(newDraft).forEach(k => { if (newDraft[k] === null || newDraft[k] === undefined) delete newDraft[k]; });\n}\n\nconst clearIntents = ['booking_created', 'cancel_confirmed', 'greeting'];\nif (clearIntents.includes(ai.intent)) newDraft = {};\n\nconst aiMsg = ai.message || '';\nif (aiMsg.includes('LYN') && (aiMsg.toLowerCase().includes('booking') && (aiMsg.toLowerCase().includes('placed') || aiMsg.toLowerCase().includes('confirmed')))) newDraft = {};\n\nconst userText = $('Ingest Message').first().json.userText || '';\nif (['hi','hello','hey','start','menu','restart'].includes(userText.toLowerCase().trim())) newDraft = {};\n\nconst buttonId = $('Ingest Message').first().json.buttonId || '';\nif (buttonId === 'btn_cancel_booking') newDraft = {};\n\nconst sessionUpsert = {\n  phone,\n  profile_name: profile,\n  booking_draft: newDraft,\n  last_intent: ai.intent || 'unknown',\n  last_active: new Date().toISOString(),\n  message_count: (existing.message_count || 0) + 1\n};\n\nreturn [{ json: { phone, sessionUpsert, ai } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        400
      ],
      "id": "7134749e-c7cc-49f2-98ab-14990cf68119",
      "name": "Session Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kcaykydhganhxuwnvubs.supabase.co/rest/v1/session_state?on_conflict=phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjYXlreWRoZ2FuaHh1d252dWJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM1MzY5NSwiZXhwIjoyMDg4OTI5Njk1fQ.MD8KJkAIx31a4KjWp1_HqTeGnbtAkZScD6z-fx34EeQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.sessionUpsert) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        400
      ],
      "id": "d7055f0d-8d82-4a4d-a0ef-27f11a0cec92",
      "name": "Upsert Session",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const { phone, phoneId, ai } = $('Parse Response').first().json;\n\nif (!ai?.message) {\n  return [{ json: { phoneId, payload: {\n    messaging_product: 'whatsapp', to: phone, type: 'text',\n    text: { body: 'Something went wrong. Send *hi* to restart.' }\n  }}}];\n}\n\nconst msg = String(ai.message).slice(0, 1024);\nconst comp = ai.component || 'text';\nlet payload;\n\nif (comp === 'buttons' && Array.isArray(ai.buttons) && ai.buttons.length > 0) {\n  const buttons = ai.buttons.slice(0,3).filter(b=>b?.id&&b?.title).map(b=>({\n    type:'reply', reply:{id:String(b.id).slice(0,256), title:String(b.title).slice(0,20)}\n  }));\n  payload = buttons.length ? {\n    messaging_product:'whatsapp', recipient_type:'individual', to:phone,\n    type:'interactive', interactive:{type:'button', body:{text:msg}, action:{buttons}}\n  } : {messaging_product:'whatsapp', to:phone, type:'text', text:{body:msg}};\n} else if (comp === 'list' && Array.isArray(ai.list_sections) && ai.list_sections.length > 0) {\n  const sections = ai.list_sections.map(sec=>({\n    title:String(sec.title||'Options').slice(0,24),\n    rows:(sec.rows||[]).filter(r=>r?.id&&r?.title).slice(0,10).map(r=>({\n      id:String(r.id).slice(0,200), title:String(r.title).slice(0,24),\n      ...(r.description?{description:String(r.description).slice(0,72)}:{})\n    }))\n  })).filter(s=>s.rows.length);\n  payload = sections.length ? {\n    messaging_product:'whatsapp', recipient_type:'individual', to:phone,\n    type:'interactive', interactive:{\n      type:'list', body:{text:msg},\n      action:{button:String(ai.list_button_label||'Select').slice(0,20), sections}\n    }\n  } : {messaging_product:'whatsapp', to:phone, type:'text', text:{body:msg}};\n} else {\n  payload = {messaging_product:'whatsapp', to:phone, type:'text', text:{body:msg}};\n}\n\nreturn [{ json: { phoneId, payload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ],
      "id": "1639b4d4-a430-4b49-af7c-3d700f997141",
      "name": "Render to WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.phoneId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAL5sH3zBMMBRHm6vGoJDlrpcrfFQ9GC9bs6oZBPG2MVoFVP2lM3Uen9tv6JVVWmV7hl4Uxqm7EslZBeY1Q6FjaR8eVkOYkrf8dfk10sOZBquzp2ZCNFNPZBkZCNjX4IF0sR18dmALXUQ9gnuLxKQuDzMC42kNVtHb6kxk4nPdC1tc2PpTDHJHSEZCW8uEQCr70cy8qEvQ0tChs9LqEAqqbO0BOha9QZBUt8eoyXhikZA55mk464yHswwz4AngHZBaPE8aYDVYZAhF6ZAZCk6cxFHY2Sr3gTvCAqhG00PfnuKkkIZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        400
      ],
      "id": "750c58cc-31d6-4773-87c4-f7ef1fee54c8",
      "name": "Send WhatsApp"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ingest Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Message": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Load Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session": {
      "main": [
        [
          {
            "node": "Load Convo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Convo": {
      "main": [
        [
          {
            "node": "Context Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Builder": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_specialties": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_bookings": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_booking_request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancel_booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Save AI Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI Message": {
      "main": [
        [
          {
            "node": "Session Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Payload": {
      "main": [
        [
          {
            "node": "Upsert Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Session": {
      "main": [
        [
          {
            "node": "Render to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render to WhatsApp": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.serveasie.in",
          "user-agent": "facebookexternalua",
          "content-length": "675",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "2a03:2880:22ff:8::",
          "cf-ipcountry": "US",
          "cf-ray": "9e79350b6ce47d61-IAD",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-warp-tag-id": "2245cd6b-e056-4aea-9cd7-13a1a94a59a1",
          "connection": "keep-alive",
          "content-type": "application/json",
          "x-forwarded-for": "2a03:2880:22ff:8::",
          "x-forwarded-proto": "https",
          "x-hub-signature": "sha1=621744da45ef4b4156f135a92feb1e9f1c7006d9",
          "x-hub-signature-256": "sha256=8ad358811925b7504e67e4bddfa986ab7e66e9ac24a18c740aadd59cf6cee148"
        },
        "params": {},
        "query": {},
        "body": {
          "object": "whatsapp_business_account",
          "entry": [
            {
              "id": "1637226634288674",
              "changes": [
                {
                  "value": {
                    "messaging_product": "whatsapp",
                    "metadata": {
                      "display_phone_number": "15551515931",
                      "phone_number_id": "1078622808664630"
                    },
                    "contacts": [
                      {
                        "profile": {
                          "name": "Vamsi Krishna"
                        },
                        "wa_id": "919391177282"
                      }
                    ],
                    "messages": [
                      {
                        "context": {
                          "from": "15551515931",
                          "id": "wamid.HBgMOTE5MzkxMTc3MjgyFQIAERgSMUZGMkM5MEFBRDk4QkFGMTcyAA=="
                        },
                        "from": "919391177282",
                        "id": "wamid.HBgMOTE5MzkxMTc3MjgyFQIAEhggQUMzQ0JFQkIzMTJDRTYxOTMxNTlDMDcyMjlCNjBCQUMA",
                        "timestamp": "1775398969",
                        "type": "interactive",
                        "interactive": {
                          "type": "button_reply",
                          "button_reply": {
                            "id": "btn_book",
                            "title": "Book a Doctor"
                          }
                        }
                      }
                    ]
                  },
                  "field": "messages"
                }
              ]
            }
          ]
        },
        "webhookUrl": "https://n8n.serveasie.in/webhook/whatsapp-webhook",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "dad38cc4d0ffa3ec724669af567ba3a39a57c51495bbd03f0149bbf35fa212dc"
  }
}
